@{
    ViewData["Title"] = "Chat - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divMain">
    <h1>Chat - Admin</h1>

    <div class="adminMessages">
        <div class="adminMessage" v-for="item in messages">{{item.username}}: {{item.usermessage}}</div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/site/site.js"></script>
}