@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divMain">
    <h1>Index</h1>

    <div class="menu">
        <a href="~/Home/ChatUser">Chat - User</a>
        <a href="~/Home/ChatAdmin">Chat - Admin</a>
    </div>
</div>