*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #808080;
}

h1{
    display: grid;
    padding: 10px;
    min-height: 200px;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
}

.divMain{
    display: grid;
    grid-template-columns: 1fr;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.menu a{
    text-decoration: none;
    font-weight: 700;
    display: grid;
    padding: 10px;
    background-color: #f5f5f5;
    color: #000000;
    border: 1px solid transparent;
    justify-content: center;
}

    .menu a:hover {
        background-color: #ffffff;
        border: 1px solid black;
    }

.userControls{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "username message message" "button button button";
}

.ctrlUsername {
    grid-area: username;
    display: grid;
    padding: 10px;
}

.ctrlMessage {
    grid-area: message;
    display: grid;
    padding: 10px;
}

.ctrlButton {
    grid-area: button;
    display: grid;
    padding: 10px;
}

.adminMessages {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.adminMessage{
    display: grid;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: start;
    align-content: center;
    background-color: #f5f5f5;
}